//! **************************************************************************
// Written by: Map P.20131013 on Sun Dec 20 23:43:40 2015
//! **************************************************************************

SCHEMATIC START;
COMP "CA" LOCATE = SITE "L14" LEVEL 1;
COMP "CB" LOCATE = SITE "H12" LEVEL 1;
COMP "CC" LOCATE = SITE "N14" LEVEL 1;
COMP "CD" LOCATE = SITE "N11" LEVEL 1;
COMP "CE" LOCATE = SITE "P12" LEVEL 1;
COMP "CF" LOCATE = SITE "L13" LEVEL 1;
COMP "CG" LOCATE = SITE "M12" LEVEL 1;
COMP "AN0" LOCATE = SITE "K14" LEVEL 1;
COMP "AN1" LOCATE = SITE "M13" LEVEL 1;
COMP "AN2" LOCATE = SITE "J12" LEVEL 1;
COMP "AN3" LOCATE = SITE "F12" LEVEL 1;
COMP "clk" LOCATE = SITE "B8" LEVEL 1;
COMP "one" LOCATE = SITE "A7" LEVEL 1;
COMP "kCode<0>" LOCATE = SITE "M5" LEVEL 1;
COMP "kCode<1>" LOCATE = SITE "M11" LEVEL 1;
COMP "kCode<2>" LOCATE = SITE "P7" LEVEL 1;
COMP "kCode<3>" LOCATE = SITE "P6" LEVEL 1;
COMP "des<0>" LOCATE = SITE "N5" LEVEL 1;
COMP "des<1>" LOCATE = SITE "N4" LEVEL 1;
COMP "des<2>" LOCATE = SITE "P4" LEVEL 1;
COMP "des<3>" LOCATE = SITE "G1" LEVEL 1;
COMP "col<0>" LOCATE = SITE "B2" LEVEL 1;
COMP "col<1>" LOCATE = SITE "A3" LEVEL 1;
COMP "col<2>" LOCATE = SITE "J3" LEVEL 1;
COMP "col<3>" LOCATE = SITE "B5" LEVEL 1;
COMP "out<0>" LOCATE = SITE "C9" LEVEL 1;
COMP "out<1>" LOCATE = SITE "A10" LEVEL 1;
COMP "out<2>" LOCATE = SITE "B9" LEVEL 1;
COMP "out<3>" LOCATE = SITE "A9" LEVEL 1;
COMP "row<0>" LOCATE = SITE "C6" LEVEL 1;
COMP "row<1>" LOCATE = SITE "B6" LEVEL 1;
COMP "row<2>" LOCATE = SITE "C5" LEVEL 1;
COMP "row<3>" LOCATE = SITE "B7" LEVEL 1;
NET "clk_BUFGP/IBUFG" BEL "clk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

